* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.5rem;
    flex-direction: column;
}

.Abdoul-Magid {
    max-width: 1440px;
}

.card {
    display: flex;
    gap: 1rem;
    padding: 1rem;


}

.card .Kina {
    width: 170%;
}

.card .Mariam {
    width: 170%;
}


.Abdoul-Magid #abdel {
    width: 62.5%;
    justify-self: left !important;
}

.Abdoul-Magid #abdoul {
    width: 31%;
}


.Titre {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.5;
}

.image {
    display: flex;
    padding: 5px;

}

.Kina,
.Mahamadou,
.Ibrahim-Djingarey,
.Yacoubou,
.Mariam,
.Haoua,
.Yacouba {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.9rem;
    border: 4px solid transparent;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 0.5rem;
    override-colors: hide;

}


.Kina:hover,
.Mahamadou:hover,
.Ibrahim-Djingarey:hover,
.Yacoubou:hover,
.Mariam:hover,
.Haoua:hover,
.Yacouba:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}


.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
    flex: 0 0 auto;
}


.name {
    display: flex;
    gap: 10px;

}


.rating {
    color: gold;
    font-size: 0.6rem;
    margin-top: 10px;

}


.Kina {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to left, #f9ca24, #a55eea, #f6786f) border-box;
    border-bottom-color: white;
    border-right-color: white;
}

.Mahamadou {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to left, #ff6b6b, #4ecdc4, #45b7d1) border-box;
    border-bottom-color: white;
    border-right-color: white;
}

.Ibrahim-Djingarey {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to left, #ff6b6b, #4ecdc4, #c7a993) border-box;
    border-bottom-color: white;
    border-right-color: white;
}

.Yacoubou {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to left, #dace62, #4ecdc4, #bed145) border-box;
    border-bottom-color: white;
    border-right-color: white;
}

.Mariam {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to left, #e8b0b0, #bccd4e, #41bb94) border-box;
    border-bottom-color: white;
    border-right-color: white;
}

.Haoua {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to left, #6bff8b, #4ecdc4, #e2a473) border-box;
    border-bottom-color: white;
    border-right-color: white;
}

.Yacouba {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to left, #d4825c, #4ecdc4, #afe27a) border-box;
    border-bottom-color: white;
    border-right-color: white;
}



@media screen and (min-width: 1440px) {
    .Abdoul-Magid {
        width: 100%;
    }
}



@media screen and (max-width: 1023px) {


    .Kina,
    .Mariam {
        flex: 1 1 560px;
        max-width: 650px;
    }

    .Ibrahim-Djingarey,
    .Yacoubou {
        flex: 1 1 320px;
        max-width: 420px;
    }
}


@media screen and (max-width: 768px) {
    .card {
        display: flex;
        flex-direction: column;
    }

    .Abdoul-Magid #abdel {
        width: 100%;
        justify-self: left !important;
    }

    .Abdoul-Magid #abdoul {
        width: 100%;
    }

    .rating {
        color: gold;
        font-size: 1rem;
        margin-top: 10px;

    }

}


.Kina,
.Mariam,
.Haoua,
.Mahamadou,
.Ibrahim-Djingarey,
.Yacoubou,
.Yacouba {
    width: 100%;
    max-width: 100%;
    flex: auto;
}



.image {
    display: flex;
    justify-content: space-between;
}


.Titre {
    font-size: 1rem;
}

body {
    padding: 1rem;
}



@media (max-width: 425px) {
    .card {
        padding: 0.5rem;
        gap: 0.75rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@media screen and (max-width: 375px) {
    .card {
        padding: 0.5rem;
        gap: 0.75rem;
    }

    .Kina,
    .Mariam,
    .Haoua,
    .Mahamadou,
    .Ibrahim-Djingarey,
    .Yacoubou,
    .Yacouba {
        padding: 0.7rem;
        margin: 0.5rem 0;
        width: 100%;

    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .avatar {
        width: 40px;
        height: 40px;
    }

    .Titre {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    body {
        padding: 0.8rem;
    }
}