* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EDEEF1;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}



.card {
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



.header {
    text-align: center;
    padding-bottom: 10px;
}



.card_flex {
    display: flex;
    gap: 1em;
}

.card_flex input,
.card_input input,
.select1,
.select2,
.select3 {
    padding: 0.65em;
    width: 100%;
    border-radius: 6px;
    border: 2px solid #e9ebee;
    outline: none;
    transition: border-color 0.2s ease;
}

.card_flex input:focus,
.card_input input:focus,
.select1:focus,
.select2:focus,
.select3:focus {
    border-color: black;
}

.select1,
.select2,
.select3 {
    background-color: rgb(244, 244, 244);
    color: black;
}




.card_input input {
    margin-top: 15px;
}


.Date {
    margin-top: 20px;
}

.labele {
    font-size: 12px;
    padding-bottom: 3px;
}

.date {
    display: flex;
    gap: 1em;
    padding-top: 10px;
}



.Radio {
    margin-top: 10px;
}

.radios {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.radios label {
    padding: 0.65em;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #e9ebee;
    font-size: 12px;
}

hr {
    border: none;
    border-top: 1px solid #e9ebee;
    margin: 15px 0;
}

.text {
    margin-top: 1em;
    text-align: justify;
}

.paragraphe {
    font-size: 12px;
}

.paragraphe a {
    text-decoration: none;
    color: #92BDEB;
    transition: text-decoration 0.2s ease;
}

.paragraphe a:hover {
    text-decoration: underline;
}



.btn {
    background-color: #55c239;
    border: none;
    border-radius: 5px;
    width: 100%;
    /* height: 2em; */
    padding: 12px;
    color: #fff;
    font-size: large;
    cursor: pointer;
    margin-top: 1em;
}



@media (max-width: 768px) {

    .header,
    .card_flex,
    .date,
    .radios {
        flex-direction: column;
    }
}

@media (max-width: 540px),
(max-width: 375px) {
    .card {
        margin: 20px;
        margin-top: 18em;


    }

    .Radios {
        height: 50%;
        background-color: red;
    }
}