:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(322, 100%, 98%);
    --light-red: hsl(0, 100%, 63%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: var(--dark-cyan);
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

p {
    margin-bottom: 1.5rem;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.btn-primary {
    background-color: var(--pink);
    color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background-color: hsl(322, 100%, 76%);
}

.btn-secondary {
    background-color: var(--white);
    color: var(--dark-cyan);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
    color: var(--grayish-blue);
}


header {
    padding: 2rem 0;
    background-image: url(bg-hero-desktop.svg);
    background-color: hsl(322, 100%, 98%);
    height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.logo {
    width: 200px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
}

.hero-content {
    flex: 1;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    height: auto;
}


.features {
    padding: 1rem 0;
    box-shadow: #054c1c;
}

.feature-card {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    margin-bottom: 0.3rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.feature-content {
    flex: 1;
}

.feature-image {
    flex: 1;
}

.feature-image img {
    width: 100%;
    height: auto;
}

.cta {
    padding: 1rem 0;
    text-align: center;
    width: 100%;


}

.cta-box {
    background-color: var(--white);
    padding: 2.5rem 0rem;
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    position: relative;
    text-align: center;
    margin-bottom: -4em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}


footer {
    background-color: var(--dark-cyan);
    color: var(--white);
    padding: 8rem 0 3rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.footer-col {
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
}

.footer-col:first-child {
    flex: 1.5;
}

.footer-logo {
    margin-bottom: 0.5rem;
    filter: brightness(0) invert(1);
}

.contact-info {
    margin-bottom: 1rem;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.contact-icon {
    margin-right: 1rem;
    margin-top: 0.2rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: color 0.3s ease;
}

.footer-links a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    text-decoration: underline;
    color: var(--pink);
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid var(--white);
    border-radius: 50%;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: var(--pink);
    border-color: var(--pink);
}

.copyright {
    font-size: 0.9em;
    text-align: right;
    margin: 20px 20px 0 0;

}



@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    .btn {
        font-size: 0.9em;
        padding: 0.8rem 2rem;
        text-decoration: none;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .feature-card,
    .feature-card:nth-child(even) {
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }

    .feature-card:nth-child(3) {
        flex-direction: column-reverse;
    }

    .footer-content {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .footer-col {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .container {
        align-content: center;

    }

    .contact-item {
        justify-content: center;

    }

    @media (max-width: 425px) {
        .container {
            padding: 0 1rem;
        }

        .header-top {
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .logo {
            width: 100px;
        }

        .hero {
            margin-bottom: 3rem;
        }

        .feature-card {
            padding: 2rem 1rem;
        }

        .cta-box {
            padding: 1rem 1rem;
        }

        .contact-info {
            margin-bottom: 1rem;
            text-align: center;
        }

        .copyright {
            margin: 20px 10px 0 0;
            text-align: center;
        }
    }
}