* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}


body {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.order-details {
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    padding: 24px;
    transition: 0.3s;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 10px;
}

.header h2 {
    font-size: 20px;
    color: #2c2f32;
    font-weight: 600;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 22px;
    color: #7b7b7c;
    cursor: pointer;
    transition: 0.2s;
}

.close-btn:hover {
    color: #111827;
}


.section {
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 18px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    line-height: 1.6rem;
}

.section h3 {
    border-bottom: 2px solid #4e5053;
    padding-bottom: 10px;
    margin-bottom: 12px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}


.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 16px;
}

.info-grid div p {
    margin: 2px 0;
    font-size: 14px;
    color: #374151;
}

.status {
    padding: 3px 8px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    text-transform: capitalize;
}

.en-attente {
    background: #fef3c7;
    color: #92400e;
}

.en-livraison {
    background: #dbeafe;
    color: #1e40af;
}

.livrée {
    background: #dcfce7;
    color: #166534;
}

.annulée {
    background: #fee2e2;
    color: #991b1b;
}

/* ===== ARTICLE ===== */
.article {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    border-bottom: 1px solid #e5e7eb;
    gap: 10px;
}

.pro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.article i {
    font-size: 20px;
    color: #545456;
}

.article div p {
    font-weight: 600;
    color: #1e293b;
}

.article div span {
    font-size: 13px;
    color: #64748b;
}

.qty,
.price {
    font-weight: 600;
    font-size: 14px;
    color: #1e293b;
    text-align: right;
}

/* ===== FOOTER ===== */
.footer {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 15px;
}

.btn {
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
}

.btn.gray {
    background: #e2e8f0;
    color: #1e293b;
}

.btn.blue {
    background: #2563eb;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}